.login
{
    display: block;  text-align: center;
}
.navbar-default
{ height: 70px;

    background-color: #a0522d;
}
.loginpic
{ position: relative;

    width: 50px;  height: 40px;
}
.leftbar
{ position: absolute;

    width: 70px;  height: 100vh;  background-color: #a0522d;
}
