.book-list
{
    text-align: center;
}
body
{ height: 100vh;

    background-color: #c7b472;
}#list
{
    text-align: center;
}
.form1
{
    text-align: center;
}
.welcome-message
{
    display: inline-block;
}
